@tailwind base;
@tailwind components;
@tailwind utilities;

.blur-backdrop-filter {
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
}

@media screen and (max-width: 640px) {
  .main {
    padding: 0;
  }
}

/* Tailwind Styles */

.head_text {
  @apply text-4xl font-mons text-center leading-[1.15] text-white lg:text-6xl;
}

.desc {
  @apply text-xl font-inter text-center mx-auto mt-6 text-white lg:text-2xl;
}

.blue_gradient {
  @apply bg-gradient-to-r from-cyan-600 to-blue-600 bg-clip-text text-transparent;
}
