@tailwind base;
@tailwind components;
@tailwind utilities;

video {
  min-width: 100%;
  min-height: 100%;
  object-fit: cover;
}
.background-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

@media screen and (max-width: 640px) {
  .main {
    padding: 0;
  }
}

/* Tailwind Styles */

.head_text {
  @apply text-4xl font-bold text-center leading-[1.15] text-white md:text-6xl sm:text-5xl;
}

.desc {
  @apply text-xl text-center mx-auto mt-6 text-white md:text-2xl sm:text-xl;
}

.blue_gradient {
  @apply bg-gradient-to-r from-blue-600 to-cyan-600 bg-clip-text text-transparent;
}
